@use '../../scss/vars';

form {
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 1.2rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
  }

  .error {
    display: block;
    margin-top: 0.25rem;
    color: vars.$primary-color;
  }
}
